
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=PT+Sans+Narrow&family=Poppins:wght@200&family=Roboto:wght@100&family=Source+Sans+Pro:wght@200&display=swap');
*{
  padding: 0px;
  margin: 0%;
} 
body{
 padding: 0%;
 height: fit-content;
}

.landing{
  margin: 0%;
  padding: 0%;
  padding-top: 12%;
  margin-top: -10%;
  margin-left: 0%;
  position: relative;
  background: linear-gradient(90deg,rgba(0, 110, 110, 0.4),rgba(143, 5, 81, 0.5)),url(file:///C:/Users/kev/Documents/original.jpg) center center/cover no-repeat;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  min-height: 600px;

  
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  margin-top: 0%;


}


.navdiv{
  top: 0%;
  left: 0%;
  border-bottom: solid white;
  background-color: inherit;
  position: relative;
  width: 95%;
  margin-left: 2%;
  z-index: 50;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 20% 70% ;
  box-shadow: 0px 0px 10px rgb(240, 250, 250,0.9);
}
body{
  background-color: rgba(0, 110, 110, 1);
}

.navhead{
  color: whitesmoke;
  float: left;
  margin-left: 10%;
  margin-top: 0%;
  font-size: xx-large;
  font-weight: bold;
  font-family: 'PT Sans Narrow',sans-serif;
  font-style: italic;
  animation: navhead 2.5s linear 15;
  
  }
  @keyframes navhead{
    0%{
      opacity: 0.2;
     transform: translateX(0px);

    }
    50%{
      opacity: 1;
      transform: translateX(50px);

    }
    100%{
      opacity: 0.2;
      transform: translateX(0px);
    }
  }
.ulnav{
  display: flex;
  flex-direction: row;
  right: 0%;
  padding: 1%;
  width: 95%;
  margin-right: 0%;
  margin-top: 0.5%;
  justify-content: right;
  overflow: hidden;

}
.navli{
  
  display: flex;
  padding-right:  4%;

}
a{
  
  text-decoration: none;
  color: white;
  font-size: large;
  font-family: 'PT Sans Narrow',sans-serif;
} 
.headtags:hover{
  transition: 0.6s;
  background-color: inherit;
  padding-left: 15%;
  border-bottom: solid white;
  
}

.icons{
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 1%;
  height: fit-content;
  
}
i{
  color: azure;
}
i:hover{
  color: rgb(206, 4, 14);
}

#social_icons{
  z-index: 40;
  font-size: x-large;
  margin-top: 100%;
  padding: 5%;
  overflow: hidden;
}
.intro_main{
  margin: 2%;
  display: flex;
  flex-direction: column;
}
#head_top{
  font-family: 'Lucida Sans', sans-serif;
  margin: 0%;
  font-size: xx-large;
  font-style: italic;
  color: azure;
  padding: 1%;
  font-weight: 550;
 
}

.head_main{
  font-family:   sans-serif ;
  color: azure;
  display: flex;
  flex-direction: column;
  padding: 0%;
  margin-top: -3%;
  font-size: 320%;
 font-weight: 650;
  animation: slidein 1.7s ;



}
 .head_main2{
  font-family:   'Orbitron' ;
  color: azure;
  display: flex;
  flex-direction: column;
  padding: 0%;
  margin-top: 2%;
  font-size: 200%;
  animation: slidein 1.7s ;

 }
 #slide_text{
  font-family: 'Orbitron';
  color: azure;
  margin-bottom: 0%;
  animation: slidetext 5s 4s 2;
  
 }
 @keyframes slidetext {
  0%{transform: translateX(1px);}
  10%{transform: translateX(-800px);opacity: 0;}
  20%{transform: translateX(800px);opacity: 0;}
  50%{transform: translateX(0px);opacity: 1;}
  100%{transform: translate(0px);opacity: 1;}
  
 }
@keyframes slidein{
  from{transform: translatex(900px);opacity: 0;}
  to {transform: translatex(0px);opacity: 1;}
}
.img_me{
  width: 100px;
  height: 150px;
  position: absolute;
  border: 3px solid white;
  border-radius: 50%;

}
#last_line{
  margin-top: 2%;
  color: white;
  display: grid;
  font-size: small;
  font-style: italic  ;
  justify-content: center;
  padding-bottom: 0%;
}
.paragraph_page{
  margin: 1% 5%  0%;
  
  padding: 1%;
  color: white;
  display: grid;
  justify-content: space-evenly;
  font-family:  'Roboto', sans-serif;
  font-size: x-large;
  animation: slideleft 2.5s;

}
@keyframes slideleft{

  from{transform: translateX(-900px);opacity: 0}
  to{transform: translateX(0px);opacity: 1;}

}
.buttons_container{
  margin-top: 3%;
  display: grid;
  grid-template-columns:  20% 20% ;
  justify-content: center;
  padding: 0%;
  
}
.first_btn,.second_btn{
  padding: 3%;
  border-radius: 40px;
  padding-left: 5%;
  font-size: larger;
  float: right;
  color: white;
  cursor: pointer;
  margin-left: 7%;
  animation: slideBottom 2s ;
 
}
#i_btn{
  font-size: 250%;
}
#i_btn:hover{
  color: rgb(116, 8, 49);
}

.fa_down_btn{
  margin-top: 3%;
  background-color: inherit;
  border: none;
  font-size: xx-large;
  animation:  bounce 1s infinite;
}
@keyframes bounce {
  from{ transform: translateY(0vh);}
  to{transform: translateY(-2vh);}
  
}

@keyframes slideBottom{
  0% {
    transform: translateY(900px);
    opacity: 0;
  }
 
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.first_btn{
  background-color: rgb(201,56, 91);
  border: solid;
  border-color: rgb(201, 56, 92);
 
}
.first_btn:hover{

 background-color: rgb(119, 3, 32);
}
.second_btn{
  background-color: inherit;
  border-color: white;
  width: 90%;
  border-style: solid;
  animation: blink 3s infinite 3s, slideBottom 2.7s;

}
.a_btn{
  background-color: inherit;
  border-color: white;
  padding-left: 0%;
}
@keyframes blink {
  0%{}
  50%{ 
    border: 2px solid rgb(201, 56, 92);}
  100%{}
}
.second_btn:hover{
  border-color: rgb(201, 56, 92);
}
.bars{
  display: none;
}
.footer{
  
  border-top: 3px solid white;
  background-color: rgba(0, 13, 12, 0.926);
  position:relative;
  height: fit-content;
  opacity: 0.9;
}
.headfoot{
  margin-top: 2%;
  display: grid;
  width: 100%;
  grid-template-rows: 30% 30% 30%;
  justify-content: center;


}
.subscribe{
  display: flex;
  justify-content: center;
}
.input_foot{
  margin-right: 3%;
  width: 60%;
  height: fit-content;
  padding: 2%;
  font-size: medium;
  border-radius: 5px;
}
#foot_btn{
  margin: 0%;
  width: 30%;
  padding: 2.5%;
  font-size: medium;
height: fit-content;
  background-color: black;
  border-radius: 10px;
  color: white;
  animation: none;
}

.h3footer{
  color: white;
  display: inline-block;
  font-family: 'PT Sans Narrow',sans-serif;
}
.divulfoot{
  margin-top: 3%;
  margin-left: 10%;
  padding-bottom: 1%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-evenly;
}

.ulfooter{
  display: flex;
  flex-direction: column;
}
.footli {
  display: block;
  color: white;
  font-family: 'PT Sans Narrow', sans-serif;
  padding: 1%;
  
}
.show_nav{
  display: grid;
  grid-template-columns: 15% 15% 20% 20% 30% ;
}
/* media query for small screens i.e 
-phones
-small tabloids 
*/
@media only screen and (max-width: 700px ){

  .landing{
    margin: 0%;
    padding: 5%;
    background-position: center;
    margin-top: -20.5%;
    width: 94%;
    height: fit-content;
    overflow-x: hidden;
    overflow-y: scroll;
    
   }
  .navhead{
    font-size: x-large;
    margin-left: 2%;
    justify-content: center;
    z-index: 5;
    animation: navhead 2.5s 3;
  }

  .ulnav{
    display: none;;
  }
  .navdiv{
    display: flex;
    flex-direction: row;
    
    position: relative;
    justify-content: space-between;
    padding: 2%;
    width: 100%;
    margin: 0%;
  
    
  }
  
  .bars{ 
  display: inline-block;
  font-size: x-large;
  border: none;
  margin-right: 0%;
  background-color: inherit;
  animation: none;
  }
  .btn-container{
    display: grid;
    position: absolute;
    justify-content: right;
    width: 90%;
  }
  .show_nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: -2%;
    position: fixed;
    margin-left: -2%;
    background-color: rgb(90, 0, 63);
    padding-top: 3%;
    width: 100%;
    height: 30%;
    animation: slideleft 0.8s ;
    
  }
  @keyframes slideleft {
    from{ transform: translateX(-700px);opacity: 0;}
    to{transform: translateX(-10px); opacity: 1;}
    
  }
  .icons{
    display: none;
  }
  .navli{
    width: 90%;
    margin: 1%;
    display: grid;
    padding: 1%;
    justify-content: center;
  }
  .headtags{
    font-size: large;

  }
  
  #nav_icons{
    margin-top: 1%;
    padding: 1%;
    justify-content: center;
    width: 100%;
  }
  
  #btn_bars{
    color: white;
    position: relative;
    font-size: xx-large;
    animation: none;

  }.intro_main{
    margin: 5%;
  }
  #head_top{
    font-family: 'Orbitron','Roboto';
    margin: 0%;
    font-size: large;
    font-style: italic;
    border-top: solid white;
    color: white;
    padding: 1%;
    font-weight: 550;
  }
  
  .head_main{
    margin-top: 20%;
    font-size: x-large;
  }
  p{
    font-size: small;
    margin-left: 5%;
    margin-right: 5%;
  }
  .buttons_container{
    display: grid;
    grid-template-columns: 45% 45% ;   
    justify-content: space-evenly;
    padding: 0%;
    margin-bottom: 20%;

  
  }
  button{
    padding: 5%;
    border-radius: 40px;
    font-size: medium;
    color: white;
    cursor: pointer;
    margin: 5% 0% 0% 0%;
    animation: slideBottom 3s ;
    width: 100%;
   
  }
  .a_btn{
    background-color: inherit;
    border-color: white;
    padding-left: 0%;
  }
  .fa_down_btn{
    margin-top: -50%;
    background-color: inherit;
    border: none;
    font-size: x-large;
    animation:  bounce 1s infinite;
  }
  .divulfoot{
    display: grid;
    grid-template-columns: 30% 40% 25%;
    justify-content: space-evenly;
    padding: 4%;
    margin: 0%;
    height: fit-content;
  }   
  .footer{
    width: 105%;
  }
  .h3footer{
    color: white;
    font-size: small;
    margin-bottom: 0%;
    font-family: 'PT Sans Narrow',sans-serif;
  }
  .headfoot{
    display: grid;
    width: 100%;
    grid-template-rows: 30% 30% 30%;
    justify-content: center;

  }
  .subscribe{
    display: flex;
    justify-content: space-around;
  }
  .input_foot{
    margin: 0%;
    width: 55%;
    height: fit-content;
    padding: 2%;
    font-size: small;
    border-radius: 5px;
  }
#foot_btn{
  margin: 0%;
  width: 30%;
  padding: 2%;
  border-radius: 5px;
  background-color: black;
  animation: none;
}
  .paragraph_page{
    font-size: large;
    margin: 0%;
    margin-bottom: 5%;
  }
  .ulfooter{
    display: flex;
    width: fit-content;
    justify-content: center;
    

  }
  
  .footli {
    text-decoration: none;
    text-decoration-style: none;
    color: azure;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: small;
    padding: 0%;
    
  }
  
  
}

