
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=PT+Sans+Narrow&family=Poppins:wght@200&family=Roboto:wght@100&family=Source+Sans+Pro:wght@200&display=swap');
 body{
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(30deg,rgba(17, 117, 156, 0.726),rgba(167, 7, 95, 0.75)),url(file:///C:/Users/kev/Documents/original.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  margin-top: 0%;


}


.navdiv{
  margin-top: 0%;
  background-color: inherit;
  position: fixed;
  width: 100%;
  display: grid;
  background-color: rgba(1, 34, 43, 0.781);
  justify-content: space-between;
  grid-template-columns: 10% 70% ;
}
.navhead{
  color: whitesmoke;
  float: left;
  margin-left: 5%;
  margin-top: 0%;
  font-size: xx-large;
  font-weight: bold;
  font-family: 'PT Sans Narrow',sans-serif;
  animation: navhead 2.5s linear 15;
  
  }
  @keyframes navhead{
    0%{
      opacity: 0.2;
     transform: translateX(0px);

    }
    50%{
      opacity: 1;
      transform: translateX(50px);

    }
    100%{
      opacity: 0.2;
      transform: translateX(0px);
    }
  }
.ulnav{
  display: flex;
  flex-direction: row;
  right: 0%;
  padding: 1%;
  width: 95%;
  margin-right: 0%;
  margin-top: 0.5%;
  justify-content: right;
  overflow: hidden;

}
.navli{
  
  display: flex;
  padding-right:  4%;

}
a{
  
  text-decoration: none;
  color: white;
  font-size: large;
  font-family: 'PT Sans Narrow',sans-serif;
} 
.headtags:hover{
  transition: 0.6s;
  background-color: inherit;
  padding-left: 15%;
  border-bottom: solid white;
  
}

.icons{
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px;
}
i:hover{
  color: rgb(206, 4, 14);
}
i{
  color: whitesmoke;
  background-color: inherit;
  
}

.head_main{

  color: white;
  display: grid;
  padding: 2%;
  justify-content: center;
  margin-top: 3%;
  font-family:'PT Sans Narrow', sans-serif;
  font-size: 200%;
 font-weight: 450;
  animation: slidein 1.7s ;

}
 
@keyframes slidein{
  from{transform: translatex(900px);opacity: 0;}
  to {transform: translatex(0px);opacity: 1;}
}
img{
  width: 200px;
  height: 200px;
  border: 3px solid white;
  border-radius: 50%;

}
#last_line{
  margin-top: 2%;
  color: white;
  display: grid;
  font-size: small;
  font-style: italic;
  justify-content: center;
  padding-bottom: 0%;
}
p{
  margin-top: -4.5%;
  padding: 1%;
  color: white;
  display: grid;
  justify-content: space-evenly;
  font-family:  'PT Sans Narrow', sans-serif;
  font-weight: 200;
  font-size: larger;
  animation: slideleft 2.5s;

}
@keyframes slideleft{

  from{transform: translateX(-900px);opacity: 0}
  to{transform: translateX(0px);opacity: 1;}

}
.buttons_container{
  margin-top: 0%;
  display: grid;
  grid-template-columns:  20% 20% ;
  justify-content: center;
  padding: 0%;
  
}
button{
  padding: 3%;
  border-radius: 40px;
  padding-left: 5%;
  font-size: larger;
  float: right;
  color: white;
  cursor: pointer;
  margin-left: 7%;
  animation: slideBottom 2s ;
 
}
@keyframes slideBottom{
  0% {
    transform: translateY(900px);
    opacity: 0;
  }
 
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.first_btn{
  background-color: rgb(201, 56, 92);
  border: solid;
  border-color: rgb(201, 56, 92);
 
}
.first_btn:hover{
  background-color: white;
  color: rgb(201, 56, 92);
}
.second_btn{
  background-color: inherit;
  border-color: white;
  width: 90%;
  border-style: solid;
  animation: blink 3s infinite 3s, slideBottom 2.7s;

}
.a_btn{
  background-color: inherit;
  border-color: white;
  padding-left: 0%;
}
@keyframes blink {
  0%{}
  50%{ 
    border: 2px solid rgb(201, 56, 92);}
  100%{}
}
.second_btn:hover{
  border-color: rgb(201, 56, 92);
}
.bars{
  display: none;
}
.footer{
  position:relative;
  margin-top: 10%;
  margin-bottom: 1%;
  opacity: 0.8;
}


.h3footer{
  color: white;
  display: inline-block;
  font-family: 'PT Sans Narrow',sans-serif;
}
.divul{
  display: grid;
  grid-template-columns: 20% 20% 20% 15%;
  justify-content: space-evenly;

}
.ulfooter{
  display: flex;
  flex-direction: column;
}
.footli {
  display: block;
  color: white;
  font-family: 'PT Sans Narrow', sans-serif;
  padding: 1%;
  
}
.show_nav{
  display: grid;
  grid-template-columns: 15% 15% 20% 20% 30% ;
}
@media only screen and (max-width: 700px ){

  body{
    margin-top: 5%;
    min-height: 100vh;
    min-width: 50px;
    overflow-y: scroll;

    
  }
  .navhead{
    font-size: x-large;
    margin-left: 2%;
    justify-content: center;
    animation: navhead 3.5s 3;
  }
 
  .ulnav{
    display: none;
  }
  .navdiv{
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: inherit;
    justify-content: space-between;
    padding: 0.5%;
    width: 97%;
    margin-top: -4%;
  
    
  }
  .bars{ 
    display: inline-block;
  font-size: x-large;
  border: none;
  margin-right: 0%;
  background-color: inherit;
  animation: none;
  }
  .btn-container{
    display: grid;
    position: absolute;
    justify-content: right;
    width: 90%;
  }
  .show_nav{
    display: flex;
    flex-direction: column;
    margin-top: 9%;

    padding: 1%;
    width: 100%;
    justify-content :right;
    animation: slideleft 0.8s ;
    
  }
  @keyframes slideleft {
    from{ transform: translateX(-700px);opacity: 0;}
    to{transform: translateX(-10px); opacity: 0.5;}
    
  }
  .navli{
    width: 90%;
    display: grid;
    padding: 2%;
    justify-content: right;
  }
  .headtags{
    font-size: large;

  }
  
  #nav_icons{
    margin-top: 1%;
    padding: 1%;
    justify-content: right;
    width: 100%;
  }
  
  #btn_bars{
    color: white;
    position: relative;
    font-size: xx-large;
    animation: none;

  }
  
  .head_main{
    margin-top: 2%;
    font-size: larger;
  }
  p{
    font-size: large;
    margin-left: 5%;
    margin-right: 5%;
  }
  .buttons_container{
    display: grid;
    grid-template-columns: 45% 45% ;   
    justify-content: space-evenly;
    padding: 0%;
    margin-bottom: 20%;

  
  }
  button{
    padding: 5%;
    border-radius: 40px;
    font-size: medium;
    color: white;
    cursor: pointer;
    margin: 5%;
    animation: slideBottom 3s ;
    width: 100%;
   
  }
  .a_btn{
    background-color: inherit;
    border-color: white;
    padding-left: 0%;
  }
  
  .h3footer{
    color: white;
    display: inline-block;
    font-size: small;
    margin-bottom: 5%;
    font-family: 'PT Sans Narrow',sans-serif;
  }
  .divul{
    position: absolute;
    margin-top: 0%;
    padding: 0%;
    margin-left: 0%;
    display: flex;
    flex-wrap: wrap;
  
  }
  .ulfooter{
    display: flex;
    margin: 0%;
    justify-content: center;
    flex-direction: column;
  }
  .footli {
    text-decoration: none;
    text-decoration-style: none;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: small;
    padding: 0%;
    
  }
  
  
}

